.btn {
    background: none;
    border: 1px solid transparent;
    border-radius: 8px;
    box-sizing: border-box;
    outline: none;
    padding: 15px 63px;
    font-weight: 500;
    text-align: center;
    line-height: 19px;
    font-size: 16px;
}

.btn_primary,
.btn_secondary,
.btn_alternate {
    cursor: pointer;
}

.btn_primary[disabled],
.btn_secondary[disabled],
.btn_alternate[disabled] {
    cursor: not-allowed;
    opacity: .5;
    pointer-events: none;
}

.btn_primary,
.btn_secondary {
    color: #FFFFFF;
}

.btn_primary {
    background: #4263EB;
}

.btn_primary:hover {
    background: #2342C0;
}

.btn_secondary {
    background: #7048E8;
}

.btn_secondary:hover {
    background: #5028C6;
}

.btn_alternate {
    background: transparent;
    border-color: #ACB5BD;
    color: #495057;
}

.btn_alternate:hover {
    border-color: #212429;
}
