.container {
    width: 1110px;
    margin: auto;
}

.row {
    display: flex;
}

.row__title {
    margin: 75px 194px 0 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 46px;
    color: var(--black);
}

.row__title-gray {
    color: #ACB5BD;
}

.row__content {
    margin-top: 75px;
}
